<div class="min-h-screen">
  <div class="m-5 rounded-xl w-3/4 mx-auto p-5 bg-white">
    <div class="flex">
      <p class="w-32 h-32 bg-gray-300 rounded-full m-5 animate-pulse"></p>
      <div class="m-5">
        <p class="bg-gray-300 my-1 w-36 h-8 rounded-xl animate-pulse"></p>
        <p class="bg-gray-300 my-1 w-36 h-8 rounded-xl animate-pulse"></p>
        <p class="bg-gray-300 my-1 w-36 h-8 rounded-xl animate-pulse"></p>
        <p class="bg-gray-300 my-1 w-36 h-8 rounded-xl animate-pulse"></p>
      </div>
    </div>
    <p class="w-1/3 h-6 animate-pulse bg-gray-300 m-2"></p>
    <p class="w-1/3 h-6 animate-pulse bg-gray-300 m-2"></p>
    <hr>
    <div>
      <div class="m-4 flex justify-between items-center">
        <h2 class="animate-pulse w-1/3 h-8 bg-gray-300"></h2>
        <select class="animate-pulse w-36 h-8 rounded-lg p-2 ml-2">
        </select>
      </div>
      <!-- repositories -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="m-2 p-4 rounded-lg w-full h-40 bg-gray-300 animate-pulse">
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <div class="flex justify-around">
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
          </div>
        </div>
        <div class="m-2 p-4 rounded-lg w-full h-40 bg-gray-300 animate-pulse">
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <div class="flex justify-around">
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
          </div>
        </div>
        <div class="m-2 p-4 rounded-lg w-full h-40 bg-gray-300 animate-pulse">
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <div class="flex justify-around">
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
          </div>
        </div>
        <div class="m-2 p-4 rounded-lg w-full h-40 bg-gray-300 animate-pulse">
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-400"></p>
          <div class="flex justify-around">
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-400"></p>
          </div>
        </div>
        <div class="m-2 p-4 rounded-lg w-full h-40 bg-gray-300 animate-pulse">
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-300"></p>
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-300"></p>
          <div class="flex justify-around">
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-300"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-300"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-300"></p>
          </div>
        </div>
        <div class="m-2 p-4 rounded-lg w-full h-40 bg-gray-300 animate-pulse">
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-300"></p>
          <p class="w-1/2 animate-pulse my-2 h-6 bg-gray-300"></p>
          <div class="flex justify-around">
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-300"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-300"></p>
            <p class="w-1/4 animate-pulse my-2 h-6 bg-gray-300"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>