<div class="min-h-screen bg-gray-800">
  <app-header></app-header>
  <div *ngIf="loading">
    <app-skeleton-loader></app-skeleton-loader>
  </div>
  <div class="flex justify-center" *ngIf="userError">
    <p class="text-3xl text-white">Try another username</p>
  </div>
  <div
    class="m-5 mx-auto w-3/4 rounded-xl bg-white p-5"
    *ngIf="!loading && userRepos.length > 0"
  >
    <div class="flex">
      <img
        [src]="userData.avatar_url"
        alt="avatar"
        class="h-12 w-12 rounded-full text-black md:m-5 md:h-32 md:w-32"
      />
      <div class="ml-2 md:m-5">
        <p
          class="my-1 flex items-center font-bold text-black md:my-2 md:text-2xl"
        >
          <span class="material-symbols-outlined mr-2">id_card</span
          >{{ userData.name }}
        </p>
        <p class="my-1 flex items-center text-black md:my-2 md:text-xl">
          <a
            [href]="userData.html_url"
            target="_blank"
            class="flex items-center text-blue-400"
          >
            <span class="material-symbols-outlined mr-2">link</span
            >{{ userData.login }}
          </a>
        </p>
        <p class="my-1 flex items-center text-black md:my-2 md:text-xl">
          <span class="material-symbols-outlined mr-2">location_city</span
          >{{ userData.location || "Location not available" }}
        </p>
        <p class="my-1 flex items-center text-black md:my-2 md:text-xl">
          <span class="material-symbols-outlined mr-2">public</span
          >{{ userData.public_repos }} Public Repos
        </p>
      </div>
    </div>
    <p class="m-2 text-black md:text-xl">
      {{ userData.bio || "No bio available" }}
    </p>
    <p class="m-2 text-black md:text-xl" *ngIf="userData.twitter_username">
      <a
        [href]="'https://twitter.com/' + userData.twitter_username"
        target="_blank"
        class="text-blue-400"
      >
        Twitter: {{ userData.twitter_username }}
      </a>
    </p>
    <hr />
    <div>
      <div class="m-1 flex items-center justify-between md:m-4">
        <h2 class="text-base font-extrabold text-black md:text-3xl">
          Repositories
        </h2>
        <select
          class="ml-2 rounded-lg border border-black text-black md:p-2"
          [(ngModel)]="per_page"
          id="perPage"
          (change)="onPerPageChange($event)"
        >
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="75">75</option>
          <option value="100">100</option>
        </select>
      </div>
      <!-- repositories -->
      <div *ngIf="userRepos.length > 0">
        <div class="grid grid-cols-1 gap-2 md:grid-cols-2 md:gap-4">
          <div
            class="my-2 w-full rounded-lg border border-black p-2 md:m-2 md:h-40 md:p-4"
            *ngFor="let repo of userRepos"
          >
            <p
              class="overflow-hidden text-ellipsis whitespace-nowrap text-pretty font-bold text-black hover:text-blue-400 md:text-xl"
            >
              <a [href]="repo.url" target="_blank">
                {{ repo.name }}
              </a>
            </p>
            <p class="text-gray-600">
              {{ repo.description || "No description available" }}
            </p>
            <div class="mt-2 flex flex-wrap">
              <span
                *ngFor="let topic of repo.topics"
                class="m-1 rounded bg-blue-400 p-1 text-white"
              >
                {{ topic || "No Topics available" }}
              </span>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <div class="flex items-center justify-around">
            <button
              class="mx-2 mt-4 rounded-lg bg-blue-600 p-2 text-white hover:scale-105 hover:bg-blue-500"
              (click)="prevPage()"
              id="prevButton"
              [disabled]="page === 1 || reposError"
              [ngClass]="page === 1 || reposError ? 'cursor-not-allowed' : ''"
              [ngStyle]="
                page === 1 || reposError ? { opacity: 0.5 } : { opacity: 1 }
              "
            >
              Prev
            </button>
            <h2 class="text-xl font-bold text-black">{{ page }}</h2>
            <button
              class="mx-2 mt-4 rounded-lg bg-blue-600 p-2 text-white hover:scale-105 hover:bg-blue-500"
              (click)="nextPage()"
              id="nextButton"
              [disabled]="
                userData.public_repos / per_page <= page || reposError
              "
              [ngClass]="
                userData.public_repos / per_page <= page || reposError
                  ? 'cursor-not-allowed'
                  : ''
              "
              [ngStyle]="
                userData.public_repos / per_page <= page || reposError
                  ? { opacity: 0.5 }
                  : { opacity: 1 }
              "
            >
              Next
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="reposError" class="flex justify-center">
        <h2 class="text-2xl font-bold">No Repositories found</h2>
      </div>
    </div>
  </div>
</div>
